libphonenumber/example/flows.json
[
    {
        "id": "ff7d7036.5206",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d93be7de.37c7c",
        "type": "phonenumber",
        "z": "ff7d7036.5206",
        "name": "Parse Phone Number",
        "defaultCountryLetters": "FR",
        "regionDialingFrom": "GB",
        "x": 660,
        "y": 120,
        "wires": [
            [
                "29b6bc91.33599c"
            ]
        ]
    },
    {
        "id": "6eb1095d.89e388",
        "type": "inject",
        "z": "ff7d7036.5206",
        "name": "",
        "topic": "",
        "payload": "0123456789",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "d93be7de.37c7c"
            ]
        ]
    },
    {
        "id": "29b6bc91.33599c",
        "type": "debug",
        "z": "ff7d7036.5206",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 890,
        "y": 120,
        "wires": []
    }
]